.n-tree-node-content {
  --n-node-color-hover: none;
  --n-node-color-active: rgb(243, 243, 245);
}

.n-drawer--left-placement {
  --n-border-radius: 12px;
}

.n-drawer-body-content-wrapper {
  --n-body-padding: 12px;
}


.n-input {
  --n-color: transparent !important;
}
